.gameContainer{
    width:500px;
    height: 600px;
    margin: 1em;
    position:absolute;
}

.sky{
    background-color: aqua;
    width: 500px;
    height: 450px;
    position:absolute;
}

.ground{
    background-color: brown;
    width: 500px;
    height: 150px;
    top:450px;
    position:absolute;
}

#bird{
    width: 58px;
    height: 45px;
    position: relative;
    background-image: url(flappy-bird.png);
}

.obstacle{
    background-color:black;
    width: 45px;
    height: 200px;
    position: absolute;
    background-image: url(flappybird-pipe.png);
}